body{
  margin-top: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #b5e3e3;
}


body {
  
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
  background-attachment: fixed;
}

.navbar-brand{
  color: aliceblue;
}

