{% extends "base.html" %}

{% block content %}

    <hr>
    <h1>WELCOME TO THE  KHAGOL COMMUNITY </h1>
    
    <table align="center" style="width:100%">
        
        <tr>
            <td align="left">
                <img src="static/socialproject/images/image2.png" alt="" height="400px" width="100px">
            </td>
            <td align="center">
                <h5>Do the words celestial objects and phenomena <br></h5>
                <p> </p>
                <h5>excites you...</h5>
                <p> </p>
                <h5>If it excites you , you are at the right place</h5>
                <p> </p>
                <h5>This is a basic social site where we could form a </h5>
                <p> </p>
                <h5>community to share our thoughts on astronomy.</h5>   
            </td>
            
            <td align="right">
                <img src="static/socialproject/images/image.png" alt="" height="400px" width="400px">
            </td>
        </tr>
    </table>
    {% endblock %}
